<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf/org">
<head>
    <title>Change Data Restoran</title>
</head>

<body>
<h2>Change Data Restoran</h2>
<form th:action="@{/menu/change/{id}(id=${menu.id})}" th:object="${menu}" method="POST">
    <input type="hidden" th:field="${menu.id}" />
    Nama Makanan: <br>
    <input type="text" name="nama" th:value="${menu.nama}" />
    <br>
    Harga: <br>
    <input type="number" name="harga" th:value="${menu.harga}" />
    <br>
    Durasi masak: <br>
    <input type="number" name="durasiMasak" th:value="${menu.durasiMasak}" />
    <br>
    Deskripsi: <br>
    <input type="text" name="deskripsi" th:value="${menu.deskripsi}" />

    <br>

    <br><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>