<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf/org">

<head>
    <title>Add Restoran</title>
</head>

<body>
    <h3>Tambah Restoran</h3>
    <form th:action="@{/restoran/add}" th:objct="${restoran}" method="POST">
        Nama : <br>
        <input type="text" name="nama"/>
        <br>
        Alamat : <br>
        <input type="text" name="alamat"/>
        <br>
        Nomort Telepon : <br>
        <input type="number" name="nama"/>
        <br>

        <button type="submit">Submit</button>

    </form>
</body>
</html>