<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Failed</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (pageTitle='Fail to Delete')"></nav>


<h1 th:text="'User gagal dibuat, pastikan password mengandung angka
dan huruf serta minimal memiliki 8 karakter.'"></h1>

</body>
</html>