<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf/org">
<head>
    <title>Change Data Menu</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    &lt;!&ndash; jquery, ajax, and bootstrap.js &ndash;&gt;
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>-->

</head>
<body>
<nav th:replace="fragments/fragment :: navbar (brand='Update Password')" ></nav>

<h2>Update Password</h2>
<form th:action="@{/user/change-password/{username}(username=${#httpServletRequest.remoteUser})}" th:object="${user}" method="POST">
    <div id="errormsg" style="display:none"></div>

    <input type="hidden" th:field="${user.id}" />
    <input type="hidden" th:field="${user.username}" />
    <input type="hidden" th:field="${user.role}" />

    Password Lama: <br>
    <input id="oldpass" type="password" class="col-sm-8 form-control input-sm" name="oldpassword">
    <br>

    Password Baru: <br>
    <input id="pass" type="password" class="col-sm-8 form-control input-sm" name="password">
    <br>

    Konfirmasi Password Baru: <br>
    <input id="passConfirm" type="password" class="col-sm-8 form-control input-sm" name="passwordKonfirmasi">
    <br>
    <span id="error" class="alert alert-danger" role="alert">Konfirmasi Password berbeda!</span>

    <br>
    <button class="btn btn-primary" type="submit" >Submit</button>

</form>
</body>
</html>